
.ServicePage{
  width: 100%;
  overflow: hidden;

  .header{
    height: 100vh !important;
    min-height: 100% !important;
    padding-top: 75px;
    background: url("./../images/khadamat_1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    @media (max-width: 767.98px) { 
      padding-top: 75px; 
      height: 40vh !important;
      background-size: contain;
    }
  
    @media (max-width: 991.98px) {
      padding-top: 75px; 
      height: 40vh !important;
      background-size: contain;
     
    }
  }

  .ttttt{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    justify-content: center;
  }


}